# Remove stopwords in data frame

In [1]:
import pandas as pd

In [2]:
df = pd.read_json('combined.json', lines=True)

In [3]:
df.head()

,id,title,contents,date,topics,components
0,None,Convicted Bomb Plotter Sentenced to 30 Years,"PORTLAND, Oregon. – Mohamed Osman Mohamud, 23,...",2014-10-01T00:00:00-04:00,[],[National Security Division (NSD)]
1,12-919,$1 Million in Restitution Payments Announced t...,WASHINGTON – North Carolina’s Waccamaw River...,2012-07-25T00:00:00-04:00,[],[Environment and Natural Resources Division]
2,11-1002,$1 Million Settlement Reached for Natural Reso...,BOSTON– A $1-million settlement has been...,2011-08-03T00:00:00-04:00,[],[Environment and Natural Resources Division]
3,10-015,10 Las Vegas Men Indicted \r\nfor Falsifying V...,WASHINGTON—A federal grand jury in Las Vegas...,2010-01-08T00:00:00-05:00,[],[Environment and Natural Resources Division]
4,18-898,$100 Million Settlement Will Speed Cleanup Wor...,"The U.S. Department of Justice, the U.S. Envir...",2018-07-09T00:00:00-04:00,[Environment],[Environment and Natural Resources Division]

In [4]:
df.shape

(13087, 6)

In [7]:
df.describe()

,id,title,contents,date,topics,components
count,12810,13087,13087,13087,13087,13087
unique,12672,12887,13080,2400,253,810
top,13-526,Northern California Real Estate Investor Agree...,,2018-04-13T00:00:00-04:00,[],[Criminal Division]
freq,3,8,2,20,8399,2680

In [13]:
#filter the df where the topics columns in not an empty list
df=df[df['topics'].str.len()!=0]
df.head()

,id,title,contents,date,topics,components
4,18-898,$100 Million Settlement Will Speed Cleanup Wor...,"The U.S. Department of Justice, the U.S. Envir...",2018-07-09T00:00:00-04:00,[Environment],[Environment and Natural Resources Division]
7,14-1412,14 Indicted in Connection with New England Com...,A 131-count criminal indictment was unsealed t...,2014-12-17T00:00:00-05:00,[Consumer Protection],[Civil Division]
19,17-1419,2017 Southeast Regional Animal Cruelty Prosecu...,The United States Attorney’s Office for the Mi...,2017-12-14T00:00:00-05:00,[Environment],"[Environment and Natural Resources Division, U..."
22,15-1562,21st Century Oncology to Pay $19.75 Million to...,"21st Century Oncology LLC, has agreed to pay $...",2015-12-18T00:00:00-05:00,"[False Claims Act, Health Care Fraud]",[Civil Division]
23,17-1404,21st Century Oncology to Pay $26 Million to Se...,21st Century Oncology Inc. and certain of its ...,2017-12-12T00:00:00-05:00,"[Health Care Fraud, False Claims Act]","[Civil Division, USAO - Florida, Middle]"

In [14]:
df.shape

(4688, 6)

In [15]:
# write a function to remove stopwords
import spacy
from spacy.lang.en.stop_words import STOP_WORDS
nlp = spacy.load('en_core_web_sm')

def remove_stop_words(text):
    doc = nlp(text)
    not_stop_words = [token.text for token in doc if not token.is_stop]
    return " ".join(not_stop_words)

In [16]:
# let's take only three handred records to make the process faster
df = df.head(300)

In [20]:
# Apply (remove_stop_words) function on title column

df['title_new']=df['title'].apply(remove_stop_words)

In [41]:
print(df['title'].iloc[0])
print(' ')
print('==============================================================================================')
print(' ')
print(df['title_new'].iloc[0])

$100 Million Settlement Will Speed Cleanup Work at Centredale Manor Superfund Site in North Providence, R.I.

==============================================================================================

$ 100 Million Settlement Speed Cleanup Work Centredale Manor Superfund Site North Providence , R.I.

In [32]:
# Apply (remove_stop_words) function on content column

df['contents_new'] = df['contents'].apply(remove_stop_words)

In [40]:
# we check the first record in content column

print(df['contents'].iloc[0][:500])
print(' ')
print('===============================================================================================================')
print(' ')
print(df['contents_new'].iloc[0][:500])

The U.S. Department of Justice, the U.S. Environmental Protection Agency (EPA), and the Rhode Island Department of Environmental Management (RIDEM) announced today that two subsidiaries of Stanley Black & Decker Inc.—Emhart Industries Inc. and Black & Decker Inc.—have agreed to clean up dioxin contaminated sediment and soil at the Centredale Manor Restoration Project Superfund Site in North Providence and Johnston, Rhode Island.  “We are pleased to reach a resolution through collaborative work w

===============================================================================================================

U.S. Department Justice , U.S. Environmental Protection Agency ( EPA ) , Rhode Island Department Environmental Management ( RIDEM ) announced today subsidiaries Stanley Black & Decker Inc.—Emhart Industries Inc. Black & Decker Inc.—have agreed clean dioxin contaminated sediment soil Centredale Manor Restoration Project Superfund Site North Providence Johnston , Rhode Island .    “ pleased reach resolution collaborative work responsible parties , EPA , stakeholders , ” said   Acting Assistant Att

# Text representation using Bag of n-grams

In [51]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(ngram_range=(2,3))
cv.fit(['Yacine is studying right now'])

CountVectorizer(ngram_range=(2, 3))

In [52]:
cv.vocabulary_

{'yacine is': 5,
 'is studying': 0,
 'studying right': 3,
 'right now': 2,
 'yacine is studying': 6,
 'is studying right': 1,
 'studying right now': 4}

In [63]:
import spacy
# Load english language model and create nlp object from the model
nlp = spacy.load('en_core_web_sm')
def preprocess(text):
    
    doc = nlp(text)

    filtered_token = []
    for token in doc:
        if token.is_stop and token.is_punct:
            continue
        filtered_token.append(token.lemma_)    
    return " ".join(filtered_token)

In [64]:
corpus = ['Mike ate burger',
       'Ralf is angry',
       'Ralf is eating burger'
       ]

In [70]:
preprocessed_corpus = [preprocess(cor) for cor in corpus ]
preprocessed_corpus

['Mike eat burger', 'Ralf be angry', 'Ralf be eat burger']

In [71]:
cv = CountVectorizer(ngram_range=(1,2))
cv.fit(preprocessed_corpus)

CountVectorizer(ngram_range=(1, 2))

In [72]:
cv.vocabulary_

{'mike': 7,
 'eat': 5,
 'burger': 4,
 'mike eat': 8,
 'eat burger': 6,
 'ralf': 9,
 'be': 1,
 'angry': 0,
 'ralf be': 10,
 'be angry': 2,
 'be eat': 3}

In [75]:
cv.transform(['Mike eat burger']).toarray()

array([[0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0]], dtype=int64)